<!-- 
* Họ và tên: Lê Thành Trung
* Mã sinh viên: 20A10010009 
* Ngày sinh: 12/04/2002 
* Do ở khoa khi thi thì yêu cầu * không dùng các framework nên trong
* bài của em không dùng Vue ạ 
*
* Em viết phụ thuộc vào api của anh cung cấp
* nên api lỗi thì em chưa khắc phục được ạ
 -->

<!DOCTYPE html>
<html lang="vi-VN">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="https://actappg2.misacdn.net/favicon.ico"
      type="image/x-icon"
    />
    <title>Nhân viên</title>
    <link rel="stylesheet" href="../css/views/employee.css" />
  </head>
  <body>
    <div class="wrapper">
      <header id="header">
        <div class="header-wrapper">
          <div class="header-left">
            <div class="header-option"></div>
            <div class="header-title">
              <div class="header-text">
                CÔNG TY TNHH SẢN XUẤT - THƯƠNG MẠI - DỊCH VỤ QUI PHÚC
              </div>
              <div class="header-left-icon"></div>
            </div>
          </div>
          <div class="header-right">
            <div class="header-right-icon"></div>
            <div class="header-author">
              <div class="header-author-avatar">
                <img
                  src="https://images.unsplash.com/photo-1677856216846-596a3d6d869e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                  alt=""
                  class="author-img"
                />
              </div>
              <div class="header-author-name">Lê Thành Trung</div>
            </div>
            <div class="header-right-caret"></div>
          </div>
        </div>
      </header>
      <menu id="menu">
        <div class="menu-wrapper">
          <div class="menu-title">
            <a href="#" class="menu-title-icon"></a>
            <a href="#" class="menu-logo">
              <img
                src="https://actappg2.misacdn.net/img/Logo_Module_TiengViet_White.66947422.svg"
                alt=""
                class="img-icon"
              />
            </a>
          </div>
          <div class="menu-list">
            <ul>
              <li class="menu-item">
                <div class="menu-list-icon"></div>
                <div class="menu-list-desc">Tổng quan</div>
              </li>
              <li class="menu-item">
                <div class="menu-list-icon"></div>
                <div class="menu-list-desc">Tiền mặt</div>
              </li>
              <li class="menu-item">
                <div class="menu-list-icon"></div>
                <div class="menu-list-desc">Tiền gửi</div>
              </li>
              <li class="menu-item">
                <div class="menu-list-icon"></div>
                <div class="menu-list-desc">Mua hàng</div>
              </li>
              <li class="menu-item">
                <div class="menu-list-icon"></div>
                <div class="menu-list-desc">Bán hàng</div>
              </li>
              <li class="menu-item">
                <div class="menu-list-icon"></div>
                <div class="menu-list-desc">Quản lý hoá đơn</div>
              </li>
              <li class="menu-item">
                <div class="menu-list-icon"></div>
                <div class="menu-list-desc">Kho</div>
              </li>
              <li class="menu-item">
                <div class="menu-list-icon"></div>
                <div class="menu-list-desc">Công cụ dụng cụ</div>
              </li>
              <li class="menu-item">
                <div class="menu-list-icon"></div>
                <div class="menu-list-desc">Tài sản cố định</div>
              </li>
              <li class="menu-item">
                <div class="menu-list-icon"></div>
                <div class="menu-list-desc">Thuế</div>
              </li>
              <li class="menu-item">
                <div class="menu-list-icon"></div>
                <div class="menu-list-desc">Giá thành</div>
              </li>
              <li class="menu-item">
                <div class="menu-list-icon"></div>
                <div class="menu-list-desc">Tổng hợp</div>
              </li>
              <li class="menu-item">
                <div class="menu-list-icon"></div>
                <div class="menu-list-desc">Ngân sách</div>
              </li>
              <!-- <li class="menu-item">
                <div class="icon-wrapper">
                  <div class="menu-list-icon"></div>
                </div>
                <div class="menu-list-desc">Báo cáo</div>
              </li> -->
            </ul>
          </div>
        </div>
      </menu>
      <div class="content">
        <div class="page-wrapper">
          <div class="page-title">
            <h1 class="page-heading">Nhân viên</h1>
            <button class="btn btn--primary" id="form-detail">
              Thêm mới nhân viên
            </button>
          </div>
          <div class="page-main">
            <div class="table">
              <div class="table-toolbar">
                <div class="toolbar-group">
                  <div class="toolbar-item">
                    <input
                      type="text"
                      class="input input--icon"
                      placeholder="Tìm theo mã, tên nhân viên"
                    />
                    <div class="input-icon"></div>
                  </div>
                  <button class="btn--refresh"></button>
                </div>
              </div>
              <div class="table-container">
                <table class="tbEmployeeList">
                  <thead>
                    <tr>
                      <th>
                        <input
                          type="checkbox"
                          name=""
                          id=""
                          class="table-checkbox"
                        />
                      </th>
                      <th class="text-align--left">MÃ NHÂN VIÊN</th>
                      <th class="text-align--left">TÊN NHÂN VIÊN</th>
                      <th class="text-align--left">GIỚI TÍNH</th>
                      <th class="text-align--left">NGÀY SINH</th>
                      <th class="text-align--left">SỐ CMND</th>
                      <th class="text-align--left">CHỨC DANH</th>
                      <th class="text-align--left">TÊN ĐƠN VỊ</th>
                      <th class="text-align--left">SỐ TÀI KHOẢN</th>
                      <th class="text-align--left">TÊN NGÂN HÀNG</th>
                      <th class="text-align--left">CHI NHÁNH TK NGÂN HÀNG</th>
                      <th class="text-align--left">CHỨC NĂNG</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <input
                          type="checkbox"
                          name=""
                          id=""
                          class="table-checkbox"
                        />
                      </td>
                      <td class="text-align--left">00009</td>
                      <td class="text-align--left">Nguyễn Văn Liệt</td>
                      <td class="text-align--left">Nam</td>
                      <td class="text-align--left">31/12/1969</td>
                      <td class="text-align--left">0022242357</td>
                      <td class="text-align--left">Trưởng Nhóm</td>
                      <td class="text-align--left">CÔNG TY CỔ PHẦN MISA</td>
                      <td class="text-align--left">003123</td>
                      <td class="text-align--left">VCB</td>
                      <td class="text-align--left">CÔNG TY CỔ PHẦN MISA</td>
                      <td class="text-align--left">Sửa</td>
                    </tr>
                    <tr>
                      <td>
                        <input
                          type="checkbox"
                          name=""
                          id=""
                          class="table-checkbox"
                        />
                      </td>
                      <td class="text-align--left">00015</td>
                      <td class="text-align--left">Nguyễn Quốc Trí</td>
                      <td class="text-align--left">Nam</td>
                      <td class="text-align--left">11/11/1977</td>
                      <td class="text-align--left">0022239779</td>
                      <td class="text-align--left">Trưởng Nhóm</td>
                      <td class="text-align--left">CÔNG TY CỔ PHẦN MISA</td>
                      <td class="text-align--left">009797</td>
                      <td class="text-align--left">VCB</td>
                      <td class="text-align--left">CÔNG TY CỔ PHẦN MISA</td>
                      <td class="text-align--left">Sửa</td>
                    </tr>
                    <tr>
                      <td>
                        <input
                          type="checkbox"
                          name=""
                          id=""
                          class="table-checkbox"
                        />
                      </td>
                      <td class="text-align--left">00012</td>
                      <td class="text-align--left">Nguyễn Văn Dương</td>
                      <td class="text-align--left">Nam</td>
                      <td class="text-align--left">07/07/1980</td>
                      <td class="text-align--left">0022299774</td>
                      <td class="text-align--left">Trưởng Nhóm</td>
                      <td class="text-align--left">CÔNG TY CỔ PHẦN MISA</td>
                      <td class="text-align--left">009342</td>
                      <td class="text-align--left">VCB</td>
                      <td class="text-align--left">CÔNG TY CỔ PHẦN MISA</td>
                      <td class="text-align--left">Sửa</td>
                    </tr>
                    <tr>
                      <td>
                        <input
                          type="checkbox"
                          name=""
                          id=""
                          class="table-checkbox"
                          placeholder=""
                          title
                        />
                      </td>
                      <td class="text-align--left">00029</td>
                      <td class="text-align--left">Đinh Bá Thành</td>
                      <td class="text-align--left">Nam</td>
                      <td class="text-align--left">16/05/1990</td>
                      <td class="text-align--left">00432434232</td>
                      <td class="text-align--left">Nhân viên</td>
                      <td class="text-align--left">CÔNG TY CỔ PHẦN MISA</td>
                      <td class="text-align--left">008764</td>
                      <td class="text-align--left">VCB</td>
                      <td class="text-align--left">CÔNG TY CỔ PHẦN MISA</td>
                      <td class="text-align--left">Sửa</td>
                    </tr>
                    <tr>
                      <td>
                        <input
                          type="checkbox"
                          name=""
                          id=""
                          class="table-checkbox"
                          placeholder=""
                          title
                        />
                      </td>
                      <td class="text-align--left">00035</td>
                      <td class="text-align--left">Hoàng Thị Oanh</td>
                      <td class="text-align--left">Nữ</td>
                      <td class="text-align--left">20/07/1986</td>
                      <td class="text-align--left">0342309853</td>
                      <td class="text-align--left">Trưởng Phòng</td>
                      <td class="text-align--left">CÔNG TY CỔ PHẦN MISA</td>
                      <td class="text-align--left">003423</td>
                      <td class="text-align--left">VCB</td>
                      <td class="text-align--left">CÔNG TY CỔ PHẦN MISA</td>
                      <td class="text-align--left">Sửa</td>
                    </tr>
                    <tr>
                      <td>
                        <input
                          type="checkbox"
                          name=""
                          id=""
                          class="table-checkbox"
                          placeholder=""
                          title
                        />
                      </td>
                      <td class="text-align--left">00025</td>
                      <td class="text-align--left">Hoàng Quốc Tuấn</td>
                      <td class="text-align--left">Nam</td>
                      <td class="text-align--left">05/07/1990</td>
                      <td class="text-align--left">03423f4534</td>
                      <td class="text-align--left">Nhân viên</td>
                      <td class="text-align--left">CÔNG TY CỔ PHẦN MISA</td>
                      <td class="text-align--left">003454</td>
                      <td class="text-align--left">VCB</td>
                      <td class="text-align--left">CÔNG TY CỔ PHẦN MISA</td>
                      <td class="text-align--left">Sửa</td>
                    </tr>
                    <tr>
                      <td>
                        <input
                          type="checkbox"
                          name=""
                          id=""
                          class="table-checkbox"
                          placeholder=""
                          title
                        />
                      </td>
                      <td class="text-align--left">00039</td>
                      <td class="text-align--left">Lê Thị Thảo</td>
                      <td class="text-align--left">Nữ</td>
                      <td class="text-align--left">21/08/1992</td>
                      <td class="text-align--left">0344543356</td>
                      <td class="text-align--left">Nhân viên</td>
                      <td class="text-align--left">CÔNG TY CỔ PHẦN MISA</td>
                      <td class="text-align--left">003443</td>
                      <td class="text-align--left">VCB</td>
                      <td class="text-align--left">CÔNG TY CỔ PHẦN MISA</td>
                      <td class="text-align--left">Sửa</td>
                    </tr>
                    <tr>
                      <td>
                        <input
                          type="checkbox"
                          name=""
                          id=""
                          class="table-checkbox"
                          placeholder=""
                          title
                        />
                      </td>
                      <td class="text-align--left">00040</td>
                      <td class="text-align--left">Hoàng Quốc Hưng</td>
                      <td class="text-align--left">Nam</td>
                      <td class="text-align--left">19/02/1995</td>
                      <td class="text-align--left">0342305343</td>
                      <td class="text-align--left">Nhân viên</td>
                      <td class="text-align--left">CÔNG TY CỔ PHẦN MISA</td>
                      <td class="text-align--left">006343</td>
                      <td class="text-align--left">VCB</td>
                      <td class="text-align--left">CÔNG TY CỔ PHẦN MISA</td>
                      <td class="text-align--left">Sửa</td>
                    </tr>
                    <tr>
                      <td>
                        <input
                          type="checkbox"
                          name=""
                          id=""
                          class="table-checkbox"
                          placeholder=""
                          title
                        />
                      </td>
                      <td class="text-align--left">00035</td>
                      <td class="text-align--left">Nguyễn Bá Kiên</td>
                      <td class="text-align--left">Nam</td>
                      <td class="text-align--left">24/07/1995</td>
                      <td class="text-align--left">0342354334</td>
                      <td class="text-align--left">Trưởng Phòng</td>
                      <td class="text-align--left">CÔNG TY CỔ PHẦN MISA</td>
                      <td class="text-align--left">007834</td>
                      <td class="text-align--left">VCB</td>
                      <td class="text-align--left">CÔNG TY CỔ PHẦN MISA</td>
                      <td class="text-align--left">Sửa</td>
                    </tr>
                    <tr>
                      <td>
                        <input
                          type="checkbox"
                          name=""
                          id=""
                          class="table-checkbox"
                          placeholder=""
                          title
                        />
                      </td>
                      <td class="text-align--left">00456</td>
                      <td class="text-align--left">Nguyễn Ngọc Ánh</td>
                      <td class="text-align--left">Nữ</td>
                      <td class="text-align--left">25/12/1998</td>
                      <td class="text-align--left">0342319545</td>
                      <td class="text-align--left">Nhân viên</td>
                      <td class="text-align--left">CÔNG TY CỔ PHẦN MISA</td>
                      <td class="text-align--left">002457</td>
                      <td class="text-align--left">VCB</td>
                      <td class="text-align--left">CÔNG TY CỔ PHẦN MISA</td>
                      <td class="text-align--left">Sửa</td>
                    </tr>
                    <tr>
                      <td>
                        <input
                          type="checkbox"
                          name=""
                          id=""
                          class="table-checkbox"
                          placeholder=""
                          title
                        />
                      </td>
                      <td class="text-align--left">00088</td>
                      <td class="text-align--left">Nguyễn Ngọc Long</td>
                      <td class="text-align--left">Nam</td>
                      <td class="text-align--left">14/09/1999</td>
                      <td class="text-align--left">0342332423</td>
                      <td class="text-align--left">Nhân viên</td>
                      <td class="text-align--left">CÔNG TY CỔ PHẦN MISA</td>
                      <td class="text-align--left">003422</td>
                      <td class="text-align--left">VCB</td>
                      <td class="text-align--left">CÔNG TY CỔ PHẦN MISA</td>
                      <td class="text-align--left">Sửa</td>
                    </tr>
                    <tr>
                      <td>
                        <input
                          type="checkbox"
                          name=""
                          id=""
                          class="table-checkbox"
                          placeholder=""
                          title
                        />
                      </td>
                      <td class="text-align--left">00635</td>
                      <td class="text-align--left">Dương Văn A</td>
                      <td class="text-align--left">Nam</td>
                      <td class="text-align--left">29/11/1997</td>
                      <td class="text-align--left">0342309453</td>
                      <td class="text-align--left">Nhân viên</td>
                      <td class="text-align--left">CÔNG TY CỔ PHẦN MISA</td>
                      <td class="text-align--left">005231</td>
                      <td class="text-align--left">VCB</td>
                      <td class="text-align--left">CÔNG TY CỔ PHẦN MISA</td>
                      <td class="text-align--left">Sửa</td>
                    </tr>
                    <tr>
                      <td>
                        <input
                          type="checkbox"
                          name=""
                          id=""
                          class="table-checkbox"
                          placeholder=""
                          title
                        />
                      </td>
                      <td class="text-align--left">00325</td>
                      <td class="text-align--left">Lê Thành Lộc</td>
                      <td class="text-align--left">Nam</td>
                      <td class="text-align--left">25/08/1988</td>
                      <td class="text-align--left">0342309853</td>
                      <td class="text-align--left">Trưởng nhóm</td>
                      <td class="text-align--left">CÔNG TY CỔ PHẦN MISA</td>
                      <td class="text-align--left">004827</td>
                      <td class="text-align--left">VCB</td>
                      <td class="text-align--left">CÔNG TY CỔ PHẦN MISA</td>
                      <td class="text-align--left">Sửa</td>
                    </tr>
                    <tr>
                      <td>
                        <input
                          type="checkbox"
                          name=""
                          id=""
                          class="table-checkbox"
                          placeholder=""
                          title
                        />
                      </td>
                      <td class="text-align--left">00418</td>
                      <td class="text-align--left">Đinh Diệu Quỳnh</td>
                      <td class="text-align--left">Nữ</td>
                      <td class="text-align--left">11/05/1990</td>
                      <td class="text-align--left">0342305334</td>
                      <td class="text-align--left">Nhân viên</td>
                      <td class="text-align--left">CÔNG TY CỔ PHẦN MISA</td>
                      <td class="text-align--left">001524</td>
                      <td class="text-align--left">VCB</td>
                      <td class="text-align--left">CÔNG TY CỔ PHẦN MISA</td>
                      <td class="text-align--left">Sửa</td>
                    </tr>
                    <tr>
                      <td>
                        <input
                          type="checkbox"
                          name=""
                          id=""
                          class="table-checkbox"
                          placeholder=""
                          title
                        />
                      </td>
                      <td class="text-align--left">00035</td>
                      <td class="text-align--left">Hoàng Thị Loan</td>
                      <td class="text-align--left">Nữ</td>
                      <td class="text-align--left">16/04/1990</td>
                      <td class="text-align--left">0342397979</td>
                      <td class="text-align--left">Nhân viên</td>
                      <td class="text-align--left">CÔNG TY CỔ PHẦN MISA</td>
                      <td class="text-align--left">009974</td>
                      <td class="text-align--left">VCB</td>
                      <td class="text-align--left">CÔNG TY CỔ PHẦN MISA</td>
                      <td class="text-align--left">Sửa</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="table-paging">
                <div class="paging">
                  <div class="paging-left">Tổng số: <b>100</b> nhân viên</div>
                  <!-- <div class="paging-right">
                    <div class="paging-pagesize">
                      <span>Nhân viên trang</span>
                      <div class="pagesize-cbx">
                        <input type="text" />
                        <div class="pagesize-data" hidden>
                          <a
                            href="#"
                            class="pagesize-item pagesize-item--selected"
                          >
                            <div class="pagesize-item-text">10</div>
                            <div class="pagesize-item-icon"></div>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="paging-index">Từ <b>1-100</b> bản ghi</div>
                    <div class="paging-action">
                      <button class="paging-button paging-button-prev"></button>
                      <button class="paging-button paging-button-next"></button>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="popup">
        <div class="popup-form">
          <button class="popup-button popup-button-close"></button>
          <div class="popup-header">Thông tin nhân viên</div>
          <div class="popup-body">
            <div class="employee-info">
              <div class="form-group general-info--left">
                <div class="form-row form-row-flex form-col-gap">
                  <div class="input-wrapper" style="width: 100px">
                    <label for="txtEmployeeCode"
                      >Mã <span class="required">*</span></label
                    >
                    <input
                      id="txtEmployeeCode"
                      type="text"
                      placeholder="NV-01"
                      class="input-required"
                      title="Mã nhân viên không dược phép trống"
                    />
                    <div class="error-info">Mã nhân viên không được trống</div>
                  </div>
                  <div class="input-wrapper flex-1">
                    <label for="txtEmployeeName"
                      >Tên <span class="required">*</span></label
                    >
                    <input
                      id="txtEmployeeName"
                      type="text"
                      placeholder="Lê Thành Trung"
                      class="input-required"
                      title="Tên nhân viên không được phép trống"
                    />
                    <div class="error-info">Tên nhân viên không được trống</div>
                  </div>
                </div>
                <div class="form-row form-row-flex form-col-gap">
                  <div class="input-wrapper">
                    <label for="txtEmployeePosition"
                      >Đơn vị <span class="required">*</span></label
                    >
                    <input
                      id="txtEmployeePosition"
                      type="text"
                      placeholder="Phòng nhân sự"
                      class="input-required"
                      title="Đơn vị không được phép trống"
                    />
                    <div class="error-info">Đơn vị không được trống</div>
                  </div>
                </div>
                <div class="form-row form-row-flex form-col-gap">
                  <div class="input-wrapper">
                    <label for="txtEmployeeCode">Chức danh</label>
                    <input
                      id="txtEmployeeCode"
                      type="text"
                      placeholder="Lễ tân chính"
                    />
                  </div>
                </div>
              </div>
              <div class="form-group general-info--right">
                <div class="form-row form-row-flex form-col-gap">
                  <div class="input-wrapper" style="width: 150px">
                    <label for="txtEmployeeCode">Ngày sinh</label>
                    <input
                      id="txtEmployeeCode"
                      type="text"
                      placeholder="26/10/2000"
                    />
                  </div>
                  <div class="input-wrapper flex-1">
                    <label for="txtEmployeeCode" class="dblock"
                      >Giới tính</label
                    >
                    <div class="employee-gender">
                      <div class="radio-wrapper">
                        <input
                          type="radio"
                          id="male"
                          name="gender"
                          value="1"
                          checked
                        />
                        <label for="male" class="dblock">Nam</label>
                      </div>
                      <div class="radio-wrapper">
                        <input
                          type="radio"
                          id="female"
                          name="gender"
                          value="0"
                        />
                        <label for="female" class="dblock">Nữ</label>
                      </div>
                      <div class="radio-wrapper">
                        <input
                          type="radio"
                          id="other"
                          name="gender"
                          value="2"
                        />
                        <label for="other" class="dblock">Khác</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row form-row-flex form-col-gap">
                  <div class="input-wrapper">
                    <label
                      for="txtEmployeeCode"
                      title="So chung minh thu nhan dan"
                      >Số CMTND</label
                    >
                    <input
                      id="txtEmployeeCode"
                      type="text"
                      placeholder="079345345"
                    />
                  </div>
                </div>
                <div class="form-row form-row-flex form-col-gap">
                  <div class="input-wrapper">
                    <label for="txtEmployeeCode">Ngày cấp</label>
                    <input id="txtEmployeeCode" type="text" />
                  </div>
                </div>
              </div>
              <div class="form-group contact-info">
                <div class="form-row form-row-flex form-col-gap">
                  <div class="input-wrapper">
                    <label
                      for="txtEmployeeCode"
                      title="So chung minh thu nhan dan"
                      >Địa chỉ
                    </label>
                    <input
                      id="txtEmployeeCode"
                      type="text"
                      placeholder="Hà Nội"
                    />
                  </div>
                </div>
                <div class="form-row form-row-flex form-col-gap">
                  <div class="input-wrapper">
                    <label for="txtEmployeeCode">Số điện thoại</label>
                    <input
                      id="txtEmployeeCode"
                      type="text"
                      placeholder="0845438774"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="popup-footer">
            <div class="popup-border-top">
              <div class="popup-footer-right">
                <button class="btn btn--secondary">Cất</button
                ><button class="btn btn--primary">Cất và thêm</button>
              </div>
              <div class="popup-footer-left">
                <button class="btn btn--secondary">Huỷ</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/employee.js"></script>
  </body>
</html>
