.btn {
  height: 36px;
  border-radius: 4px;
  padding: 0 1.6rem;
  outline: none;
  border: 0;
  display: block;
  min-width: 80px;
  font-weight: 500;
}

.btn--primary {
  background-color: var(--primary-color);
  color: white;
}

.btn--secondary {
  color: #1f1f1f;
  background-color: #fff;
  border: 1px solid #e6e6e6;
}

.btn--refresh {
  border: 0;
  background: url("../assets/img/Sprites.64af8f61.svg") no-repeat -425px -201px;
  width: 24px;
  height: 24px;
}

.btn--refresh:hover {
  background: url("../assets/img/Sprites.64af8f61.svg") no-repeat -1098px -90px;
}
